<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSr7MNaixxV1E2zm7-wYj1e6c2AFNISwI</string>
	<key>GCM_SENDER_ID</key>
	<string>1014762461627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thewall</string>
	<key>PROJECT_ID</key>
	<string>the-wall-aad59</string>
	<key>STORAGE_BUCKET</key>
	<string>the-wall-aad59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014762461627:ios:bd3f61d5a6a344b2e3cc9e</string>
</dict>
</plist>